{{#if hasBlock}}
  {{yield message (action 'close')}}
{{else}}
  <a {{action 'close'}} class='close'>&times;</a>
  <span class='count'>{{numOfMsgLeft}} left </span>
  <span class='message'>{{message.text}}{{{message.html}}}</span>
{{/if}}
